@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --width-box: 70px;
  --height-box: 110px;
  --height-middle-box: 45px;
  --height-center: 20px;
  --top-circle-big: 30px;
  --width-circle-big: 50px;
  --height-circle-big: 50px;
  --left-circle-big: 10px;
  --width-circle-little: 35px;
  --height-circle-little: 35px;
  --top-circle-little: -7.5px;
  --left-circle-little: 18px;
  --width-curve-l1: 15px;
  --height-curve-l1: 15px;
  --width-curve-l1-little: 25px;
  --height-curve-l1-little: 25px;
  --column: 4;
  --row: 4;
  --button-width: 150px;
  --movements-container-width: 150px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
}

html {
  min-width:320px;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  color: black;
  width: 100%;
  height: 100%;
}

.max-dimension {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "header header"
  "main main"
  "play info"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(90px, 1fr) 1fr 1fr 30px;
  flex-direction: column;
  background-color: #FFF
}

#header {
  grid-area: header;
  align-self: center;
}
.cards-container {
  position: relative;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(var(--column), var(--width-box));
  grid-template-rows: repeat(var(--row), var(--height-box));
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

#footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: white;
  /* margin-top: 5px; */
  height: 30px;
  padding: 10px 30px;
  background: #170303;
}

#footer p:last-child, #footer p:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer p:last-child a span {
  margin: 0 10px 0;
}


.main {
  grid-area: main;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.flip-box {
  background-color: transparent;
  cursor: pointer;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipar .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #AADEEC;
  color: white;
  border-radius: 12px;
  transform: rotateY(180deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flip-box-back p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.movements-container {
  width: 150px;
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.movements-container p {
  width: 45%;
  text-align: center;
  background: #AADEEC;
  padding: 10px;
  border-radius: 0 100% 0 100%;
}

.movements-container p:last-child {
  font-size:1.6rem
}

.number-of-pairs {
  margin-bottom: 30px;
}

.box-main {
  position: relative;
  background: #AADEEC;
  width: var(--width-box);
  height: var(--height-box);
  border-radius: 15px;
}

.box1, .box2 {
  background: #C00D22;
  position: relative;
  width: 100%;
  height: var(--height-middle-box);
}

.box1 {
  border-radius: 15px 15px 0 0;
}

.box2 {
  border-radius: 0 0 15px 15px;
  z-index: 1;
}

.center {
  position: relative;
  background: linear-gradient(180deg, rgba(170,222,236,1) 0%, rgba(231,250,255,1) 100%);
  width: 100%;
  height: var(--height-center);
  z-index: 2;
}

.circle-big {
  top: var(--top-circle-big);
  width: var(--width-circle-big);
  height: var(--height-circle-big);
  left: var(--left-circle-big);
  position: absolute;
  background: black;
  border-radius: 50%;
  z-index: 2;
}

.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width-circle-little);
  height: var(--height-circle-little);
  top: var(--top-circle-little);
  left: var(--left-circle-little);
  background: linear-gradient(180deg, rgba(170,222,236,1) 0%, rgba(231,250,255,1) 100%);;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.curve-l1 {
  width: var(--width-curve-l1);
  height: var(--height-curve-l1);
  border-right: 2px solid black;
  border-radius: 0 0 100% 0;
  border-bottom: 2px solid black;
}

.curve-l1-little {
  position: absolute;
  width: var(--width-curve-l1-little);
  height: var(--height-curve-l1-little);
  border-right: 2px solid black;
  border-radius: 0 0 100% 0;
  border-bottom: 2px solid black;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.curve-r1 {
  transform: rotate(90deg);
  position: absolute;
}

.curve-r1-little {
  transform: rotate(90deg);
  position: absolute;
}

.bottom {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
}

.rotate-bottom {
  transform: rotate(180deg);
}

.shadow-bottom {
  -webkit-box-shadow:inset -12px -12px 28px #5c5c5c;
  -moz-box-shadow:inset -12px -12px 28px #5c5c5c;
  box-shadow: inset -2px -3px 7px #5c5c5c;
}

.shadow-top {
  -webkit-box-shadow:inset -13px 22px 28px #5c5c5c;
  -moz-box-shadow:inset -13px 22px 28px #5c5c5c;
  box-shadow: inset -2px 2px 6px #5c5c5c;
}

.shadow-circle {
  box-shadow: inset 1px 1px 4px #fff;
}


.logo-container {
  display: flex;
  justify-content: center;
  padding: 5px 0 0;
}

/* .flip-box:last-child {
  grid-column: 2;
} */

/* #loading {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
} */

#loading p {
  font-size: 2rem;
}

#loading {
  position: absolute;
  top: 260px;
  z-index: 3;
}

#loading img{
	animation: rotation 1s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.container__button {
  grid-area: play;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.button-random {
  width: var(--button-width);
  height: 40px;
  cursor: pointer;
  background: white;
  border: 2px solid red;
  box-sizing: border-box;
  border-radius: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: black;
  outline:none;
}

.button-random:hover {
  background: red;
  color: white;
}

@media (max-height: 360px) and (min-width: 640px) {

  :root {
    --width-box: 55px;
    --height-box: 80px;
    --height-middle-box: 35px;
    --height-center: 10px;
    --top-circle-big: 20px;
    --width-circle-big: 40px;
    --height-circle-big: 40px;
    --left-circle-big: 7.5px;
    --width-circle-little: 25px;
    --height-circle-little: 25px;
    --top-circle-little: -7px;
    --left-circle-little: 16px;
    --width-curve-l1: 12px;
    --height-curve-l1: 12px;
    --width-curve-l1-little: 20px;
    --height-curve-l1-little: 20px;
    --column: 8;
    --row: 2;
    --button-width: 110px;
    --movements-container-width: 100%;
  }

  body {
    grid-template-areas: "header header header"
    "main main play"
    "main main info"
    "footer footer footer";
    grid-template-columns: 1fr 1fr .5fr;
  }

  .container__button  {
    justify-content:center;
  }

  #loading {
    top: 165px;
  }

  .flip-box-back p {
    font-size: .8rem;
  }
  .flip-box-back img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 319px) {
  :root {
    --column: 3;
    --row: 6;
  }
  .cards-container .flip-box:last-child {
    grid-column: 2;
  }
}

@media (max-height: 375px) and (min-width: 812px) {

  :root {
    --column: 8;
    --row: 2;
    --movements-container-width: 100%;
  }

  body {
    grid-template-areas: "header header header"
    "main main play"
    "main main info"
    "footer footer footer";
    grid-template-columns: 1fr 1fr .6fr;
  }

  .container__button {
    justify-content:center;
  }

  #loading {
    top: 185px;
  }

  .movements-container {
    width:100%;
  }
}

@media (max-height: 411px) and (min-width: 731px) {
  :root {
    --column: 8;
    --row: 2;
    --movements-container-width: 100%;
  }
  #loading {
    top: 145px;
  }
}

@media (max-height: 540px) and (min-height: 500px) and (min-width: 720px) {
  :root {
    --column: 8;
    --row: 2;
    --movements-container-width: 100%;
  }
  #loading {
    top: 205px;
  }

  .cards-container {
    gap: 15px;
    padding-top: 20px;
  }
}

@media (max-height: 768px) and (min-width: 1024px) {
  .main > #loading {
    top: 325px;
  }
}

@media (max-height: 950px) and (min-width: 1024px) {

/* @media (max-height: 768px) and (min-width: 1024px) { */
  html {
    max-width: 100%;
  }

  :root {
    --width-box: 110px;
    --height-box: 170px;
    --height-middle-box: 70px;
    --height-center: 30px;
    --top-circle-big: 50px;
    --width-circle-big: 80px;
    --height-circle-big: 80px;
    --left-circle-big: 15px;
    --width-circle-little: 55px;
    --height-circle-little: 55px;
    --top-circle-little: -7.5px;
    --left-circle-little: 28px;
    --width-curve-l1: 25px;
    --height-curve-l1: 25px;
    --width-curve-l1-little: 45px;
    --height-curve-l1-little: 45px;
    --column: 8;
    --row: 2;
    --movements-container-width: 100%;
  }

  .logo-container img {
    width: 300px;
    height: 140px;
  }

  .circle {
    font-size:1.6rem;
  }

  .cards-container {
    padding-top:10px;
    gap: 15px;
  }

  #loading {
    top: 425px;
  }

  .flip-box-back p {
    font-size: 1.6rem;
  }
  .flip-box-back img {
    width: 100px;
    height: 100px;
  }

}

@media (min-height: 870px) and (min-width: 480px) and (max-width: 1024px) {
  :root {
    --width-box: 110px;
    --height-box: 170px;
    --height-middle-box: 70px;
    --height-center: 30px;
    --top-circle-big: 50px;
    --width-circle-big: 80px;
    --height-circle-big: 80px;
    --left-circle-big: 15px;
    --width-circle-little: 55px;
    --height-circle-little: 55px;
    --top-circle-little: -7.5px;
    --left-circle-little: 28px;
    --width-curve-l1: 25px;
    --height-curve-l1: 25px;
    --width-curve-l1-little: 45px;
    --height-curve-l1-little: 45px;
    --movements-container-width: 100%;
  }

  #loading {
    top: 360px;
  }
}

@media (min-height: 950px) and (min-width: 1281px) {
  :root {
    --width-box: 150px;
    --height-box: 210px;
    --height-middle-box: 85px;
    --height-center: 40px;
    --top-circle-big: 50px;
    --width-circle-big: 110px;
    --height-circle-big: 110px;
    --left-circle-big: 20px;
    --width-circle-little: 70px;
    --height-circle-little: 70px;
    --top-circle-little: -14.5px;
    --left-circle-little: 40px;
    --width-curve-l1: 35px;
    --height-curve-l1: 35px;
    --width-curve-l1-little: 55px;
    --height-curve-l1-little: 55px;
    --movements-container-width: 100%;
    --column: 8;
    --row: 2;
    --button-width: 190px
  }
  html {
    max-width: 100%;
  }
  .logo-container img {
    width: 400px;
    height: 230px;
  }
  .cards-container {
    gap: 20px;
  }

  .circle {
    font-size:2rem;
  }

  #loading {
    top: 430px;
  }

  .button-random {
    height:60px;
    font-size: 2.2rem;
  }

  .movements-container {
    width: 300px;
    font-size: 2.2rem;
  }
  .movements-container #movements {
    font-size: 2.2rem;
  }

  .flip-box-back p {
    font-size: 2.2rem;
  }
  .flip-box-back img {
    width: 130px;
    height: 130px;
  }
}