@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


a {
  color: inherit;
}

html {
  min-width:320px;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  color: black;
  width: 100%;
  height: 100%;
}



body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #FFF
}

.cards-container {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 160px);
  margin-bottom: 30px;
}

.main {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 60px;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipar .flip-box-inner {
  transform: rotateY(180deg);
}



/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #AADEEC;
  color: white;
  border-radius: 25px;
  transform: rotateY(180deg);
}

.movements-container, .number-of-pairs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movements-container h1, .number-of-pairs h1 {
  margin: 20px 0 0;
}

.movements-container h2, .number-of-pairs h2 {
  margin: 10px 0 0;
}

.box-main {
  position: relative;
  background: #AADEEC;
  width:100px;
  height:160px;
  border-radius: 25px;
}

.box1, .box2 {
  background: #C00D22;
  position: relative;
  width: 100%;
  height: 68px;
}

.box1 {
  border-radius: 25px 25px 0 0;
}

.box2 {
  border-radius: 0 0 25px 25px;
  z-index: 1;
}

.center {
  position: relative;
  background: linear-gradient(180deg, rgba(170,222,236,1) 0%, rgba(231,250,255,1) 100%);
  width: 100%;
  height: 24px;
  z-index: 2;
}

.circle-big {
  top: 40px;
  width: 80px;
  height: 80px;
  position: absolute;
  background: black;
  left: 10px;
  border-radius: 50%;
  z-index: 2;
}

.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, rgba(170,222,236,1) 0%, rgba(231,250,255,1) 100%);;
  border-radius: 50%;
  top: -12.5px;
  left: 25px;
}

.curve-l1 {
  width: 25px;
  height: 25px;
  border-right: 3px solid black;
  border-radius: 0 0 100% 0;
  border-bottom: 3px solid black;
}

.curve-l1-little {
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 3px solid black;
  border-radius: 0 0 100% 0;
  border-bottom: 3px solid black;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.curve-r1 {
  transform: rotate(90deg);
  position: absolute;
}

.curve-r1-little {
  transform: rotate(90deg);
  position: absolute;
}

.bottom {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
}

.rotate-bottom {
  transform: rotate(180deg);
}

.shadow-bottom {
  -webkit-box-shadow:inset -12px -12px 28px #5c5c5c;
  -moz-box-shadow:inset -12px -12px 28px #5c5c5c;
  box-shadow: inset -6px -6px 28px #5c5c5c;
}

.shadow-top {
  -webkit-box-shadow:inset -13px 22px 28px #5c5c5c;
  -moz-box-shadow:inset -13px 22px 28px #5c5c5c;
  box-shadow: inset -7px 12px 28px #5c5c5c;
}

.shadow-circle {
  box-shadow: inset 3px 4px 6px #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}

.flip-box:last-child {
  grid-column: 2;
}

.button-random {
  width: 151px;
  height: 48px;
  cursor: pointer;
  background: white;
  border: 2px solid red;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: black;
}

.button-random:hover {
  background: red;
  color: white;
}

#loading {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}

#loading p {
  font-size: 2rem;
}